.TyrePropsTab__list {
  display: flex;
  gap: 24px;

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 16px;
  }
}

.TyrePropsTab__item {
  flex: 1;
}

.GridBlock,
.BottomContainer,
.BottomContainer__checkbox {
  display: grid;
  gap: 17px;
  width: 100%;
}

.Button {
  display: flex;
  height: 45px;
  white-space: nowrap;
  .Btn {
    display: flex;
    width: 100%;
    font-size: 17px;
  }
  @media (max-width: 640px) {
    display: grid;
    width: 100%;
  }
}

.BottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media (max-width: 640px) {
    flex-direction: column;
  }
}
