.Container{
  margin-top: 1rem;
  padding-left: 5px;
  max-width: 752px;
  .Content{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    .BlockInfo, .legalEntity{
      display: inline-block;
      padding: 5px 10px;
      p{
        word-break: break-all;
        margin: 0;
        span{
          margin-right: 5px;
          color: var(--clr-cart-purpur);
        }
      }
    }
    @media (max-width: 990px) {
      flex-direction: column;
    }
  }
}