@mixin after_background($padding) {
  width: calc(100% + 2 * $padding);
  $wt: calc(-1 * $padding);
  transform: translateX($wt);
}

.Wrapper{
  border: none;
  position: relative;
  .Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:var(--clr-light_black);
    margin-bottom: 20px;
  }
  .WrapperBtnRecord{
    svg{
      transform: rotate(180deg);
    }
  }
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    background: var(--clr-light_blue);
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border: 1px solid var(--clr-border_grey);
  }
  @media (max-width: 990px) {
    padding: 20px 0;
    width: 100%;
    &::after{
      border-right: none;
      border-left: none;
      @include after_background(var(--padding-desktop));
    }
  }

  @media (max-width: 768px) {
    &::after{
      @include after_background(var(--padding-mobile));
    }
  }
  @media (max-width: 375px) {
    &::after{
      @include after_background(var(--padding-mobile-mini));
    }
  }
}