.ButtonInShop {
  column-gap: 12px;
  padding: 13px 21px !important;
  border-radius: 4px;
  border: 1px solid var(--clr-green) !important;
  svg {
    width: 40px;
    height: 40px;
  }
  .Content {
    display: grid;
    justify-items: flex-start;
    align-content: space-between;
    width: 250px;
    span:first-child {
      color: var(--clr-black);
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }
    span:last-child {
      color: var(--clr-green);
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
    }
  }
  &.InShop {
    background: var(--clr-green);
    svg {
      path:first-child {
        fill: white;
        stroke: white;
      }
      path:last-child {
        stroke: var(--clr-green);
      }
    }
    .Content {
      span {
        color: white;
      }
    }
  }
  @media (max-width: 990px) {
    column-gap: 16px;
    padding: 12px !important;
    .Content {
      flex-wrap: wrap;
      width: 100%;
      span:first-child {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin-right: 4px;
      }
      span:last-child {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin-right: 4px;
      }
    }
  }
}
