.WrapperScroll {
  position: relative;
  .LeftTop {
    z-index: 100;
    top: 0;
    left: 15px;
    position: absolute;
  }
  .RightTop {
    z-index: 100;
    top: 0;
    right: 15px;
    position: absolute;
  }
  .ContainerImages {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
    .WrapperImage {  
      padding: 0 var(--padding-mobile);
      flex-shrink: 0;
      scroll-snap-align: center;
      inline-size: 100%;
      display: block;
      position: relative;
      width: 100vw;
    }
  }
  .BottomBlock {
    margin-top: 2px;
    padding: 0 15px;
    height: 36px;
    min-height: 36px;
    display: grid;
    justify-content: center;
    align-items: center;
    .ButtonAnalogues {
      z-index: 100;
      position: absolute;
      left: 15px;
      bottom: 0;
      max-height: 36px;
    }
    .BlockBadges {
      right: 15px;
      left: auto;
    }
    @media(max-width: 990px) {
      .Block {
        margin-top: 7.5px;
      }
    }
  }
  @media (max-width: 330px) {
    .ContainerImages {
      .WrapperImage {
        padding: 0 var(--padding-mobile-mini);
      }
    }
  }
}

.Column {
  display: grid;
  row-gap: 8px;
  .SeasonBlock {
    display: grid;
    row-gap: 4px;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .blockWishList {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
