.Container{
  transition: .4s ease-in-out;
  .Content{
    height: 0;
    position: relative;
  }
  .Title{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    span{
      background: var(--clr-border_grey);
      font-weight: 900;
      font-size: 18px;
      line-height: 21px;
      color: white;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }
    .Change{
      margin-left: auto;
      font-weight: 400;
      color: var(--clr-dark_blue);
    }
  }
  &.Active{
    .Content{
      height: auto;
      transition: .5s ease-in-out;
    }
    .Title{
      margin-bottom: 25px;
      span {
        background: var(--clr-purpur);
      }
    }
  }
  &.Open{
    box-shadow: var(--clr-shadow_grey);
    .Content{
      height: auto;
      transition: .5s ease-in-out;
    }
    .Title{
      margin-bottom: 25px;
      span {
        background: var(--clr-purpur);
      }
    }
  }
  @media (max-width: 990px) {
    padding: 18px;
    .Title{
      font-size: 14px;
      .Change{
        font-size: 12px;
      }
    }
    &.Active{
      .Title{
        margin-bottom: 10px;
      }
    }
  }
}

