.Time{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 21px;
  &.pickGreen{
    color: var(--clr-green);
  }
  &.pickOrange{
    color: var(--clr-orange);
  }
  &.pickRed{
    color: var(--clr-chevren);
  }
}