.Container{
  display: flex;
  column-gap: 10px;
  .Delivery{
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    color: #7D7D7D;
  }
  .Text{
    word-break: break-all;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 10px;
  }
}
