.WrapperZoomPopup {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
  border: 0 !important;
  user-select: none;
  padding: 0;
  animation: showZoomPopup 0.3s ease-in-out;
}

.ScrollBlock {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
  border: 0 !important;
  user-select: none;
  padding: 0;
  animation: showZoomPopup 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes showZoomPopup {
  0% {
    transform: translateY(+100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.Container {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 80px 1fr auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  .WrapperGallery {
    & > div {
      max-height: 560px;
    }
  }
  .WrapperButtonClose {
    position: absolute;
    right: 40px;
    top: 40px;
    :hover {
      color: var(--clr-dark_blue);
    }
    .Close {
      path {
        transition: stroke 0.3s ease;
      }
      &:hover {
        path {
          stroke: var(--clr-dark_blue);
        }
      }
    }
  }
  .MiddleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Arrow {
      &:hover {
        path {
          stroke: var(--clr-dark_blue);
        }
      }
    }
    .WrapperImage {
      position: relative;
      .Overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(148, 19, 19, 0);
      }
      .Video {
        position: relative;
        padding-bottom: 60%;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 16px;
    padding-bottom: 60px;
    .WrapperButtonClose {
      position: absolute;
      top: 16px;
      right: 16px;
      height: auto;
    }
    .MiddleBlock {
      display: flex;
      height: 100%;
      width: 100%;
    }
  }
}
