.Container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  .Loader{
    height: 109px;
    width: 220px;
  }
  @media (max-width: 990px) {
    grid-template-columns: 1fr;
    row-gap: 20px;
    .Loader{
      width: 100%;
    }
  }
}
