.Container{
  margin-bottom: 15px;
  color: var(--clr-light_black);
  display: grid;
  grid-template-columns: 1fr 50px 150px;
  .Name{
    font-size: 14px;
    line-height: 18px;
  }
  .Info{
    font-size: 12px;
    line-height: 18px;
  }
  .Price{
    margin-left: auto;
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr 50px 100px;
  }
}