.Container {
  display: flex;
  flex-direction: column;

  .Title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  & :global(.ya-pay-widget) {
    margin-top: 15px;
  }
}

.Description {
  margin-top: 10px;
  color: var(--clr-light_grey);
  font-size: 12px;
  line-height: 18px;
}