.Wrapper {
  display: grid;
  row-gap: 30px;

  .Block,
  .BlockDelivery {
    padding: 18px 24px 0;
    height: auto;

    .Title,
    .TitleMobile,
    .TitleDelivery {
      display: flex;
      align-items: center;

      &::before {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--clr-green);
        content: url('./icons/check-green.svg');
        margin-right: 12px;
      }

      font-weight: 700;
      font-size: 16px;
      line-height: 21px;

      b {
        margin-top: 2px;
        margin-left: 5px;
      }
    }

    .TitleMobile {
      display: none;
    }

    .mobileBlock {
      display: none;
      .fullWidth {
        a {
          padding: 15px 20px;
          div {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 990px) {
    .Block {
      padding: 0;
      border: none !important;

      .Title {
        display: none;
        margin-bottom: 15px;
      }

      .TitleMobile {
        margin-bottom: 17px;
        display: flex;
      }

      .mobileBlock {
        display: grid;
        width: 100%;
      }
    }
  }

  .BlockDelivery {
    padding: 18px 24px;
    display: flex;
    align-items: left;
    flex-direction: column;

    .BlockDeliveryRow {
      display: flex;
      align-items: center;

      .Title {
        margin-right: 10px;

        &::before {
          content: none;
        }
      }

      @media (max-width: 990px) {
        padding: 18px 0;
        border: none !important;
      }

      @media (max-width: 758px) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

@media print {
  .Wrapper {
    .Block {
      .TitleMobile {
        margin-left: -48px;
      }

      .mobileBlock {
        display: none;
      }
    }

    .BlockDelivery {
      display: none;
    }
  }
}