$width: 1px;
$color: var(--clr-color-violet);
$duration: 0.2s;
$direction: 1;
.Block{
  justify-content: space-between;
  padding: 16px 24px;
  border: 1px solid var(--clr-gray-disable);
  background: var(--clr-input);
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &::after{
    position: absolute;
    top: 0;
    content: '';
    left: 24px;
    right: 24px;
    height: 4px;
    background: var(--clr-color-blue);
    transition: .1s ease-in-out;
  }
  &::before{
    content:'';
    position:absolute;
    width:calc(100% + #{$width * 2});
    height:calc(100% + #{$width * 2});
    top:calc(#{$width}/-1);
    left:calc(#{$width}/-1);
    background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
    background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat:no-repeat, no-repeat;
    transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
    transform:scaleX(0) rotate(180deg * $direction);
    transition-delay:$duration*2, $duration, 0s;
  }
  &.Active{
    &::before{
      height:calc(100% + #{$width * 2});
      background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform:scaleX(1) rotate(180deg * 1);
      transition-delay:0.2s, 0.3s, 0.2s*2;
    }
    &::after{
      background: var(--clr-color-violet);
    }
  }
}
.Title{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.Box{
  margin-top: auto;
  .Tk{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--clr-text);
    @media (max-width: 768px) {
      margin-top: 21px;
    }
  }
  .Time, .TimeTk{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--clr-green);
    margin-top: 21px;
    &Tk{
      color: black;
    }
  }

}