.Container {
  padding-bottom: 20px;
}

.TabBlock {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  position: relative;
  max-width: 1140px;
  &.loader {
    grid-template-columns: 1fr;
  }
  @media (max-width: 990px) {
    padding-bottom: 10px;
    .ScrollContent {
      padding-bottom: 15px;
    }
  }
}
