@mixin after_background($padding) {
  width: calc(100% + 2 * $padding);
  $wt: calc(-1 * $padding);
  transform: translateX($wt);
}

.Container{
  .Title{
    font-size: 14px;
    line-height: 24px;
    color: var(--clr-light_black);
  }
  .Bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    div{
      z-index: 10;
      font-size: 14px;
      line-height: 24px;
    }
    .Price{
      padding: 16px 0;
      color: var(--clr-black);
      font-weight: 700;
      font-size: 16px;

    }
    &::after{
      background: var(--clr-light_blue);
      position: absolute;
      content: '';
      width: calc(100% + 48px);
      transform: translateX(-24px);
      height: 100%;
      left: 0;
      border-top: 1px solid var(--clr-border_grey);
    }
  }
  @media (max-width: 990px) {
    .Title{
      display: none;
    }
    .Bottom{
      padding: 0 15px;
      margin: 0 -15px;
      .Price{
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
      }
      &::after{
        border: 1px solid var(--clr-border_grey);
        border-right: none;
        border-left: none;
        @include after_background(var(--padding-mobile));
      }

    }
  }
  @media (max-width: 768px) {
    .Bottom{
      margin: 0;
      padding: 0;
    }
  }
  @media (max-width: 375px) {
    .Bottom{
      &::after{
        @include after_background(var(--padding-mobile-mini));
      }
    }
  }
}

